div {
	width: 100%;
        height: 300px;
        
        border: 1px solid #000;
}

div.left {
	width: 70%;
	float: left;
	box-sizing: border-box;
}

div.right {
	width: 30%;
	float: right;
	box-sizing: border-box;
}

article{
    padding:6px 0px 8px 0px;
    margin-top: 3em;
}
article header{
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1em;
    margin-left: 5px;
    line-height: 1em;
    text-shadow: 0 1px #fff;
    font-weight: bold;
    display: block;
}

article header a{
    color: #666;
}

article .module {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 25px;
    border-bottom: 1px solid #b1b1b1;
    background: #f8f8fd;

    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
    -o-box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
    box-shadow: 0 1px 2px rgba(0,0,0,0.4),0 0 30px rgba(10,10,0,0.1) inset;
}
article .title{
    font-size: 1.6em;
    font-weight: 500;
    display: block;
    margin-bottom: 10px;

    margin-left: -25px;
    padding-left: 20px;
    border-left: 5px solid #2ca6cb;
}

article .readmore{
    display: inline-block;
    line-height: 1em;
    padding: 6px 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: #eee;
    color: #999;
    text-shadow: 0 1px #fff;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 20px;
}
article .readmore:hover{
    background: #258fb8;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 1px #1e7293;
}

article footer{
    font-size: .85em;
    line-height: 1.6em;
    border-top: 1px solid #ddd;
    padding-top: 1.6em;
    margin: 0;
}
article footer a{
    color: #999;
    margin-right: 15px;
}

.page[index] a {
	 color: #4d6dad;
	 transition: 0.5s ease;
}
 .page[index] a:hover {
	 color: #223253;
}
 .page[index] .left > ul {
	 padding: 0;
}
 .page[index] .left > ul > li {
	 list-style: none;
}
 .page[index] .left > ul li {
	 color: #333;
}
 .page[index] .left > ul li h2 {
	 border: none;
	 font-size: 27px;
	 margin: 0;
}
 .page[index] .left > ul li .label {
	 margin-bottom: 15px;
	 overflow: hidden;
}
 .page[index] .left > ul li .label .label-card {
	 float: left;
	 margin-right: 15px;
}
 .page[index] .left > ul li .label .label-card i {
	 padding-right: 0;
	 margin-right: 3px;
	 color: #6b6a6a;
}
 .page[index] .left > ul li .label .categories {
	 padding: 0;
}
 .page[index] .left > ul li .excerpt h2 {
	 font-size: 24px;
}
 .page[index] .left > ul li .excerpt h3 {
	 font-size: 22px;
}
 .page[index] .left > ul li .excerpt h4 {
	 font-size: 20px;
}
 .page[index] .left > ul li .read-all {
	 text-align: right;
	 font-size: 14px;
}
 .page[index] .left > ul li .read-all a {
	 color: #778ab0;
	 transition: 0.2s ease;
}
 .page[index] .left > ul li .read-all a:hover {
	 color: #5872a7;
}
 .page[index] .left > ul li .read-all a i {
	 padding-right: 3px;
}
 .page[index] .left .pagination {
	 text-align: center;
}
 .page[index] .left .pagination .previous, .page[index] .left .pagination .next {
	 font-size: 20px;
	 padding: 0 5px;
}
 .page[index] .left .pagination .page_number {
	 padding: 0 5px;
}
 .page[index] .left .pagination .disable {
	 color: #cbcbcb;
}
 .page[index] .right .wrap .side {
	 margin-bottom: 20px;
	 padding-bottom: 0;
}
 .page[index] .right .wrap .side i {
	 margin-right: 3px;
}
 .page[index] .right .wrap .side .content-ul[cate] {
	 overflow: hidden;
	 list-style: none;
	 margin: 0;
	 padding: 0;
}
 .page[index] .right .wrap .side .content-ul[cate] li {
	 font-size: 14px;
}
 .page[index] .right .wrap .side .content-ul[cate] li a {
	 display: block;
	 width: 100%;
	 padding: 2px 0;
	 border-bottom: 1px solid #eee;
}
 .page[index] .right .wrap .side .content-ul[cate] li a:hover {
	 background-color: #dbdfee;
}
 .page[index] .right .wrap .side .content-ul[cate] li a:hover .badge {
	 background-color: #dbdfee;
	 transform: scale(1.2) rotate(360deg);
}
 .page[index] .right .wrap .side .content-ul[cate] li a .name {
	 padding-left: 15px;
}
 .page[index] .right .wrap .side .content-ul[cate] li a .badge {
	 display: block;
	 float: right;
	 text-align: center;
	 margin-right: 15px;
	 margin-top: 3px;
	 padding: 0 10px;
	 font-size: 12px;
	 color: #fff;
	 background-color: #bbb;
	 border-radius: 50%;
	 transition: 0.5s ease-in-out;
}
 .page[index] .right .wrap .side .content-ul[cate] li:last-of-type a {
	 border: none;
}
 .page[index] .right .wrap .side .content-ul[recent] {
	 padding-bottom: 16px;
}
 .page[index] .right .wrap .side .content-ul[recent] li {
	 color: #aaa;
	 font-size: 14px;
}
 .page[index] .right .wrap .side .tags-cloud {
	 font-weight: normal;
}
 .page[index] .right .wrap .side .tags-cloud a {
	 padding: 0 3px;
	 border-radius: 5px;
}
 .page[index] .right .wrap .side .tags-cloud a:hover {
	 background-color: #f0e7ce;
}
 @media screen and (max-width: 770px) {
	 .page[index] .left > ul li h2 {
		 font-size: 22px;
	}
	 .page[index] .left > ul li .excerpt h2 {
		 font-size: 20px;
	}
	 .page[index] .left > ul li .excerpt h3 {
		 font-size: 18px;
	}
	 .page[index] .left > ul li .excerpt h4 {
		 font-size: 16px;
	}
	 .page[index] .left > ul li .excerpt li {
		 margin: 0;
	}
}
