.left>ul {
    padding: 0;
}

.left>ul>li {
    list-style: none;
}

.left>ul li {
    color: #333;
}

.left>ul li h2 {
    border: none;
    font-size: 27px;
    margin: 0;
}

.left>ul li .label {
    margin-bottom: 15px;
    overflow: hidden;
}

.left>ul li .label .label-card {
    float: left;
    margin-right: 15px;
}

.left>ul li .label .label-card i {
    padding-right: 0;
    margin-right: 3px;
    color: #6b6a6a;
}

.left>ul li .label .categories {
    padding: 0;
}

.left>ul li .excerpt h2 {
    font-size: 24px;
}

.left>ul li .excerpt h3 {
    font-size: 22px;
}

.left>ul li .excerpt h4 {
    font-size: 20px;
}

.left>ul li .read-all {
    text-align: right;
    font-size: 14px;
}

.left>ul li .read-all a {
    color: #778ab0;
    transition: 0.2s ease;
}

.left>ul li .read-all a:hover {
    color: #5872a7;
}

.left>ul li .read-all a i {
    padding-right: 3px;
}

.left .pagination {
    text-align: center;
}

.left .pagination .previous,
.left .pagination .next {
    font-size: 20px;
    padding: 0 5px;
}

.left .pagination .page_number {
    padding: 0 5px;
}

.left .pagination .disable {
    color: #cbcbcb;
}

.right .wrap .side {
    margin-bottom: 20px;
    padding-bottom: 0;
}

.right .wrap .side i {
    margin-right: 3px;
}

.right .wrap .side .content-ul[cate] {
    overflow: hidden;
    list-style: none;
    margin: 0;
    padding: 0;
}

.right .wrap .side .content-ul[cate] li {
    font-size: 14px;
}

.right .wrap .side .content-ul[cate] li a {
    display: block;
    width: 100%;
    padding: 2px 0;
    border-bottom: 1px solid #eee;
}

.right .wrap .side .content-ul[cate] li a:hover {
    background-color: #dbdfee;
}

.right .wrap .side .content-ul[cate] li a:hover .badge {
    background-color: #dbdfee;
    transform: scale(1.2) rotate(360deg);
}

.right .wrap .side .content-ul[cate] li a .name {
    padding-left: 15px;
}

.right .wrap .side .content-ul[cate] li a .badge {
    display: block;
    float: right;
    text-align: center;
    margin-right: 15px;
    margin-top: 3px;
    padding: 0 10px;
    font-size: 12px;
    color: #fff;
    background-color: #bbb;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}

.right .wrap .side .content-ul[cate] li:last-of-type a {
    border: none;
}

.right .wrap .side .content-ul[recent] {
    padding-bottom: 16px;
}

.right .wrap .side .content-ul[recent] li {
    color: #aaa;
    font-size: 14px;
}

.right .wrap .side .tags-cloud {
    font-weight: normal;
}

.right .wrap .side .tags-cloud a {
    padding: 0 3px;
    border-radius: 5px;
}

.right .wrap .side .tags-cloud a:hover {
    background-color: #f0e7ce;
}