--- 
layout: default 
---
<div class="row">
    <div class="content col-lg-9">
        <div class="sheet post">
            <header>
                <h2>{{ page.title }}</h2>
            </header>
            <hr class="boundary">
            <article>
                {{content}}
            </article>
            <hr class="boundary">
            <div id="post-share" class="bdsharebuttonbox">
                <a href="#" class="bds_more" data-cmd="more"></a>
                <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                <a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a>
                <a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a>
                <a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a>
            </div>

            <h2 id="comments">Comments</h2>
            {% include disqus_comments.html %}
        </div>
        <div class="pad-min"></div>
    </div>
    <div class="content-navigation col-lg-3">
        <div class="shadow-bottom-center">
            <div class="content-navigation-toc">
                <div class="content-navigation-header">
                    <span class="octicon octicon-list-unordered"></span>&nbsp;Toc
                </div>
                <div class="content-navigation-list toc"></div>
            </div>
        </div>
    </div>
</div>
